.products {
  &__wrapper {
    display: flex;
  }

  &__sidebar{
    max-height: 500px;
    min-width: 260px;
  }
  &__container{
    margin-left: 50px;
  }

  &__item{
    margin-top: 40px;
    background-color: black;
  }
}
