:root {
    --color-dark: rgb(51, 51, 51);
    --color-darkgreen: rgb(61, 109, 22);
    --color-green: rgb(121, 184, 62);
    // --color-yellowgreen: rgb(182, 252, 69);
    --color-yellowgreen: rgb(173, 255, 47);
}
